.sport__time {

  .title {
    color: #FFF;
    font-size: 96px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 90px;
  }

  .shoes__container-mobile {
    display: none;
  }

  .shoes__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: repeat(3, 1fr);
    gap: 50px;
    padding-bottom: 120px;

    .card__shoes {
      transition: all 0.3s ease;
    }

    .card__shoes:nth-child(3) {
      opacity: 0;
    }

    .card__shoes:nth-child(4) {
      opacity: 0;
    }

    .card__shoes:nth-child(9) {
      opacity: 0;
    }

    .card__shoes:nth-child(-n+9) {
      display: block;
    }

    .card__shoes {
      display: none;
    }

    .card__shoes:nth-child(10),
    .card__shoes:nth-child(11),
    .card__shoes:nth-child(12) {
      animation-name: card__animate;
      animation-duration: 1s;
    }
  }

  .shoes__container.active {
    .card__shoes:nth-child(3) {
      opacity: 1;
    }

    .card__shoes:nth-child(4) {
      opacity: 1;
    }

    .card__shoes:nth-child(9) {
      opacity: 1;
    }


    .card__shoes:nth-child(10),
    .card__shoes:nth-child(11),
    .card__shoes:nth-child(12) {
      display: block;
      height: 224px;
    }

  }

  .btn {
    margin: 0px 20px;

    svg {
      transition: all 0.4s;

    }
  }

  .btn__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .btn:nth-child(1) {
      display: flex;
      transition: all 0.5s ease;
    }

    .btn:nth-child(1).active~.btn__link:nth-child(2) {
      display: flex;
      animation-name: open;
      animation-duration: 1s;
    }

    .btn__link:nth-child(2) {
      display: none;
    }
  }

  .btn.active {
    svg {
      transition: all 0.4s;
      transform: rotate(-135deg);
    }
  }
}


@keyframes open {
  0% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes card__animate {
  0% {
    display: block;
    height: 0;
    opacity: 0;
  }
  50% {
    height: 224px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
