.shoes {
  height: 1005px;
  position: relative;
  width: 100%;
  overflow: hidden;

  .svg {
    padding-top: 35px;
    position: absolute;
    right: 0px;
    left: -20px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 110%;
  }

  .title__shoes {
    width: 1302px;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: 128px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
  }

  .container {
    .container__product {
      position: absolute;
      top: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;
      height: 384px;
      width: 1360px;

      .image__fon {
        width: 900px;
        height: 500px;
      }

      .product__title {
        padding-left: 90px;

        .title {
          opacity: 1;
          color: #FFF;
          font-size: 48px;
          font-style: italic;
          font-weight: 700;
          line-height: 48px;
          letter-spacing: 7.68px;


        }

        .information__product {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          padding: 32px 0px;
          width: 550px;

          .price {
            color: #FFF;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
          }

          .size__product {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 174px;

            .size__span {
              color: #FFF;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
    }

    .slider {
      position: relative;
      top: 707px;
      width: 100%;

      .slider__product {
        position: absolute;
        right: 0;
        width: 100%;

        .container__btn {
          width: 310px;
          height: 195px;
          position: absolute;
          top: 0;
          background-color: rgb(0, 0, 0);
          z-index: 100;

          .btn__prev {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: transparent;
            width: 100px;
            overflow: hidden;
            margin-left: 30px;

            span {
              color: #FFF;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px;
              text-transform: capitalize;
            }

            img {

              margin-left: 8px;
            }
          }

          .swiper-button-next::after {
            content: none;
          }

          .swiper-button-prev::after {
            content: none;
          }

          .btn__next {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: transparent;
            width: 75px;
            margin-right: 30px;

            span {
              margin-right: 8px;
              color: #FFF;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px;
              text-transform: capitalize;
            }
          }
        }

        .card__shoes {
          width: 310px;
          height: 195px;
          border: 2px solid #FFF;
          position: relative;
          cursor: pointer;
          transition: all 0.1s;

          h4 {
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            text-transform: uppercase;
            position: absolute;
            left: 25px;
            top: 120px;
            z-index: 110;
            height: 25px;
            overflow: hidden;
          }

          img {
            position: absolute;
            top: -19px;
            left: 22px;
            width: 229px;
            height: 117.589px;
          }
        }

        .card__shoes:hover {
          border: 6px solid #FFF;
        }
      }
    }
  }

  .container__bottom {
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 0;
    height: 158px;
    z-index: 100;

    .flex__flask {
      display: flex;
      justify-content: space-around;
      padding: 20px 0px;
      position: absolute;
      width: 100%;

      span {
        color: #FFF;
        font-size: 32px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 32px;
      }
    }

    .flex__flask:nth-child(1) {
      top: 0;
      background: #000;
      transform: rotate(2.923deg);
      z-index: 101;
    }

    .flex__flask:nth-child(2) {
      top: 0;
      background: #BA0000;
      transform: rotate(-1.907deg);
    }
  }
}

.shoes.active {

  .title__shoes {
    animation-name: active-animation;
    animation-duration: 0.6s;
  }

  .container .container__product .product__title .title {
    animation-name: active-animation;
    animation-duration: 0.6s;
  }

  .container .container__product .product__title .information__product .price {
    animation-name: active-animation;
    animation-duration: 0.6s;
  }

  .container__ss .color__shoes {
    animation-name: active-animation;
    animation-duration: 0.6s;
  }

  .ss__size {
    animation-name: active-animation;
    animation-duration: 0.6s;
  }

}


.shoes.click {
  .title__shoes {
    animation-name: click-animation;
    animation-duration: 0.6s;
  }

  .container .container__product .product__title .title {
    animation-name: click-animation;
    animation-duration: 0.6s;
  }

  .container .container__product .product__title .information__product .price {
    animation-name: click-animation;
    animation-duration: 0.6s;
  }

  .container__ss .color__shoes {
    animation-name: click-animation;
    animation-duration: 0.6s;
  }

  .ss__size {
    animation-name: click-animation;
    animation-duration: 0.6s;
  }
}

@keyframes click-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes active-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}