.handiwork {
  .title__handiwork {
    width: 611px;
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    margin: 0 auto;
  }

  .text__handiwork {
    padding-top: 80px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
  }
}