.card__news:nth-child(2) {
  grid-area: a;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: #fff;
  display: grid;
  grid-template-areas: 
  "a b"
  "c b"
  ;
  .title__h3 {
    padding-top: 100px;
    height: 30px;
    grid-area: a;
    color: #000000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
  }
  .text {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 75px;
    grid-area: c;
    padding-right: 40px;
    height: 120px;
    overflow: hidden;
  }
  .img__news {
    grid-area: b;
    width: 600px;
    border-radius: 4px 15px 15px 4px;
  }
  .btn {
    width: 140px;
    color: #fff;
    background-color: #5a1897;
    transition: all 0.4s;
  }
  .btn:hover {
    width: 144px;
  }
}

.card__news:nth-child(3) {
  grid-area: b;
  margin-top: 20px;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: #fff;
  display: grid;
  grid-template-areas: 
  "b"
  "a"
  "c"
  "d"
  ;
  width: 97%;
  .title__h3 {
    padding-top: 20px;
    height: 100px;
    grid-area: a;
    color: #000000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
  }
  .text {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    grid-area: c;
    height: 110px;
    overflow: hidden;
    padding-top: 10px;
    
  }
  .img__news {
    grid-area: b;
    width: 530px;
    border-radius: 4px 15px 15px 4px;
  }
  .btn {
    margin-top: 15px;
    width: 140px;
    color: #fff;
    background-color: #5a1897;
    transition: all 0.4s;
    grid-area: d;
  }
  .btn:hover {
    width: 144px;
  }
}

.card__news:nth-child(4) {
  grid-area: c;
  margin-top: 20px;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: #fff;
  display: grid;
  grid-template-areas: 
  "b"
  "a"
  "c"
  "d"
  ;
  width: 100%;
  .title__h3 {
    padding-top: 20px;
    height: 100px;
    grid-area: a;
    color: #000000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
  }
  .text {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    grid-area: c;
    height: 110px;
    overflow: hidden;
    padding-top: 10px;
  }
  .img__news {
    grid-area: b;
    width: 570px;
    border-radius: 10px;
  }
  .btn {
    margin-top: 15px;
    width: 140px;
    color: #fff;
    background-color: #5a1897;
    transition: all 0.4s;
    grid-area: d;
  }
  .btn:hover {
    width: 144px;
  }
}

.card__news {
  display: none;
}