.card__favorite {
  width: 313px;
  height: 612px;
  position: relative;
  cursor: pointer;
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .shoes__card {
    top: 30px;
      right: 0;
      position: absolute;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    .title__card {
      color: #FFF;
      text-align: right;
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
    }
  
    .price {
      padding-top: 10px;
      color: #BA0000;
      text-align: right;
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
      line-height: 16px;
    }
  }

  .circle {
    border-radius: 292px;
    background: conic-gradient(from 180deg at 50% 50%, #F00 0deg, rgba(255, 0, 0, 0.00) 360deg);
    background-blend-mode: luminosity;
    filter: blur(125px);
    width: 262px;
    height: 262px;
    z-index: 100;
    top: 160px;
    right: 0;
    position: absolute;
    z-index: 0;
  }

  .img {
    z-index: 10;
    top: 110px;
    left: 0;
    position: absolute;
    width: auto;
    height: auto;
    width: 350px;
    height: 230px;
  }
}